﻿@model InvoiceProjectinMVC.Models.ViewModel
@{
    ViewBag.Title = "CreateForm";
}

<h2>CreateForm</h2>


@using (Html.BeginForm("CreateForm","Add",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Invoice_List</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.model1.Invoice_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model1.Invoice_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.model1.Invoice_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model1.Bill_To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.model1.Bill_To, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.model1.Bill_To, new SelectList(ViewBag.list))
                @Html.ValidationMessageFor(model => model.model1.Bill_To, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model1.Invoice_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model1.Invoice_Date, new { htmlAttributes = new { @class = "datepicker" } }) 
                @Html.ValidationMessageFor(model => model.model1.Invoice_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model1.Due_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model1.Due_Date, new { htmlAttributes = new { @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.model1.Due_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model1.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model1.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.model1.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model1.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.model1.Status, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.model1.Status, new SelectList(ViewBag.list1))
                @Html.ValidationMessageFor(model => model.model1.Status, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <h2>Info_Details</h2>
    <div>
        <table class="table table-bordered">
            <thead>

                <tr>
                    <th>pRODUCTid</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price(INR)</th>
                    <th>Quantity</th>
                    <th>Tax(%)</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>

            </thead>

            <tbody id="data_table">

                <tr>
                    <td>
                        @*//  @Html.LabelFor(model => model.product_id, htmlAttributes: new { @class = "control-label col-md-2" })*@

                        @Html.EditorFor(model => model.model2.Product_id, new { htmlAttributes = new { @id = "auto_id", @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.model2.Product_id, "", new { @class = "text-danger" })*@

                    </td>

                    <td>
                        @*@Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })*@

                        @Html.EditorFor(model => model.model2.Product, new { htmlAttributes = new { @id = "product", @class = "form-control" } })

                        @*@Html.DropDownListFor(model => model.model2.Product, new SelectList(ViewBag.list2), new { htmlAttributes = new { @id = "product", @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.model2.Product, "", new { @class = "text-danger" })
                    </td>


                    <td>
                        @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@

                        @Html.EditorFor(model => model.model2.Description, new { htmlAttributes = new { @id = "description", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.model2.Description, "", new { @class = "text-danger" })

                    </td>

                    <td>
                        @*@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })*@

                        @Html.EditorFor(model => model.model2.Price, new { htmlAttributes = new { @id = "price", @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.model2.Price, "", new { @class = "text-danger" })*@

                    </td>

                    <td>
                        @*@Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })*@

                        @Html.EditorFor(model => model.model2.Qty, new { htmlAttributes = new { @name = "tax1", @id = "qty", @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.model2.Qty, "", new { @class = "text-danger" })*@

                    </td>

                    <td>
                        @*@Html.LabelFor(model => model.model2.Tax, htmlAttributes: new { @class = "control-label col-md-2" })*@

                        @Html.EditorFor(model => model.model2.Tax, new { htmlAttributes = new { @name = "tax1", @id = "tax", @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.model2.Tax, "", new { @class = "text-danger" })*@

                    </td>
                    <td>
                        @*@Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })*@

                       @Html.EditorFor(model => model.model2.Total, new { htmlAttributes = new { @name = "total1", @id = "total", @class = "form-control" } })
                        @*@Html.ValidationMessageFor(model => model.model2.Total, "", new { @class = "text-danger" })*@

                    </td>


                    <td>
                        <input type="button" class="add btn btn-success"
                               onclick="add_row()" value="Add New">

                    </td>
                    <td>
                        <input type="button" class="add btn btn-success"
                               onclick="delete_row(1)" value="Delete">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>Sub Total :</td>
                    <td><span id="sub_total">0</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total Tax :</td>
                    <td><span id="total_tax">0</span></td>
                </tr>

                <tr>
                    <td></td>
                    <td>Grand Total:</td>
                    <td><span id="grand_total">0</span></td>
                </tr>

                @*<td>
                    <button onclick="deletingRow()">Delete</button> -->
                </td>*@
        </table>
    </div>
    




    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>


    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@


}

<script type="text/javascript">
   
    function add_row() {
        var auto_id = document.getElementById("auto_id").value;
        var product = document.getElementById("product").value;
        var description = document.getElementById("description").value;
        var price = document.getElementById("price").value;
        var qty = document.getElementById("qty").value;
        var tax = document.getElementById("tax").value;
        var total = parseInt(price) * parseInt(qty);

        if (product == "") {
            alert("product must be filled out");
        } else if (description == "") {
            alert("description must be filled out");
        } else if (price == "") {
            alert("price must be filled out");
        } else if (qty == "") {
            alert("qty must be filled out");
        }
        else if (total == "") {
        
            
        } else {
            var table = document.getElementById("data_table");
            var table_len = (table.rows.length) - 3;
            console.log(table_len);
            //"<td id='auto_id" + table_len + "'><input type='text' value='" + auto_id + "' class='form-control'></td> " +
            var row = table.insertRow(table_len).outerHTML = "<tr id='row" + table_len + "'> "
                + "<td id='auto_id" + table_len + "'><input type='text' value='"
                + auto_id
                + "' class='form-control'></td> "
                + "<td id='product" + table_len + "'>"
                + product
                + "</td> "
                + "<td id='description" + table_len + "'>"
                + description
                + "</td> "
                + "<td id='price" + table_len + "'>"
                + price
                + "</td> "
                + "<td id='qty" + table_len + "'>"
                + qty
                + "</td> "
                + "<td id='tax" + table_len + "'>"
                + tax
                + "</td> "
                + "<td id='total" + table_len + "'>"
                + total
                + "</td> "
                +

                "<td><i class='fa fa-trash' style='font-size:24px' onclick='delete_row("
                + table_len + ")'> </i></td> " + "</tr>";


            var sub_total = 0;
            var total_tax = 0;
            for (var i = 1; i <= table_len; i++) {
                sub_total += parseInt(document.getElementById("total" + i).innerText);
                total_tax += parseInt(document.getElementById("tax" + i).innerText);
            }

            document.getElementById("auto_id").value = parseInt(auto_id) + 1;
            document.getElementById("product").value;
            document.getElementById("description").value = "";
            document.getElementById("price").value = "";
            document.getElementById("qty").value = "";
            document.getElementById("tax").value = "";
            document.getElementById("total").value = "";
            document.getElementById("sub_total").innerHTML = sub_total;
            document.getElementById("total_tax").innerHTML = total_tax;
            document.getElementById("grand_total").innerHTML = sub_total + total_tax;
        }
    
        }
    //function delete_row(no) {
    //    document.getElementById("row" + no + "").outerHTML = "";
    //    //document.getElementById("sub_total").innerHTML = "";
    //    //document.getElementById("total_tax").innerHTML = "";
    //    //document.getElementById("grand_total").innerHTML = "";
    //}
    function delete_row(no) {
        
        var table = document.getElementById("data_table");
        var table_len = (table.rows.length) - 3;
        var sub_total = document.getElementById("sub_total").innerHTML;
        var total_tax = document.getElementById("total_tax").innerHTML;
        var grand_total = document.getElementById("grand_total").innerHTML;
        console.log(sub_total + ":" + total_tax+":"+ grand_total);
        for (var i = 1; i <= table_len; i++) {
            if (no == i) {
                var particular_tot = parseFloat(document.getElementById("total" + i).innerHTML);
                var particular_tax = parseFloat(document.getElementById("tax" + i).innerHTML)
                console.log(particular_tot + ":" + particular_tax);

                var after_deletion_tot = parseFloat(sub_total) - particular_tot;
                var after_deletion_tax = parseFloat(total_tax) - particular_tax;
                console.log(after_deletion_tot + ":" + after_deletion_tax);
                document.getElementById("sub_total").innerHTML = after_deletion_tot;
                document.getElementById("total_tax").innerHTML = after_deletion_tax;
                document.getElementById("grand_total").innerHTML = (after_deletion_tax + after_deletion_tot);
            }
        }
        document.getElementById("row" + no + "").outerHTML = "";
    }
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true
        });

    });
</script>


