﻿@model IEnumerable<InvoiceProjectinMVC.Models.Invoice_List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.Raw(TempData["InsertMsg"])
@Html.Raw(TempData["UpdateMsg"])

<p>
    @Html.ActionLink("Create New", "CreateForm")
    @*<div class="form-group">
        <input type="button" value="Create" class="add btn btn-primary" onclick="location.href=windows('@Url.Action("CreateForm", "Add")')" />
    </div>*@


</p>
<table class="table table-bordered" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill_To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Due_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill_To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Due_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Invoice_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Invoice_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Invoice_id })
                </td>
            </tr>
        }
    </tbody>
</table>
